body{
	background-color: #ccc;
}
.container{
	width: 960px;
	margin: auto;
	text-align: center;
}
.container img{
	border-bottom-color: red;
	border-top-color: red;
	border-left-color: blue;
	border-right-color: blue;
	border-radius: 5%;
}
.header{
	text-align: center;
}
.timeline{
	width: 300px;
	margin: auto;
}
a{
	color: black;
}
.timeline p{
	font-size: 18px;
}